body {
  background: #eee;
}

.box {
  position: absolute;
  top: 0; 
  left: 0;
  border: 4px dashed #ccc;
  padding: 15px;
  background: white;
}

.box:hover a.scale, .box:hover a.rotate {
  opacity: 1;
}
.box a.scale, .box a.rotate {
  opacity: 0;
}

.box a.scale {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(250,0,0,0.5);
  position: absolute;
  top: 5px;
  right: 5px;
}
.box a.rotate {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(0,250,0,0.5);
  position: absolute;
  bottom: 5px;
  right: 5px;
}