#{extends 'main.html' /}

#{set 'moreScripts'}
  <script type="text/javascript">
  // Globals
  window.ROUTES = {
    WSopen: "@@{Screen.open(screen)}"
  };
  </script>
  #{script "main.js" /}
  #{script 'jquery-css-transform.js' /}
  #{script 'underscore-min.js' /}
  #{get 'moreScripts' /}
#{/set}

<div id="image_html5" class="box">
  <img src="/public/images/html5.png" alt="HTML5" />
</div>

<div id="video_same" class="box">
  <iframe width="425" height="344" frameborder="0" src="http://www.youtube.com/embed/Qyd69g9hmIY?html5=1"></iframe>
</div>
